/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2014, 11:36:08 AM
    Author     : Hannah Arntson
*/

body{
    background-color:white;
}

p{
    width:470px;
    height:30px;
    float:left;
    font-family:sans-serif;
    color:black;
    font-size:14pt;
    margin-left:20px;
}

#paw1{
    width:40px;
    height:50px;
    z-index:2;
    position:absolute;
    top:150px;
    left:30px;
    -webkit-transform:rotate(-20deg);
}

#paw2{
    width:40px;
    height:50px;
    z-index:2;
    position:absolute;
    top:270px;
    left:90px;
    -webkit-transform:rotate(-20deg);
}

#paw3{
    width:40px;
    height:50px;
    z-index:2;
    position:absolute;
    top:400px;
    left:50px;
    -webkit-transform:rotate(-20deg);
}

#paw4{
    width:40px;
    height:50px;
    z-index:2;
    position:absolute;
    top:500px;
    left:120px;
    -webkit-transform:rotate(-20deg);
}

h1{
    margin-bottom:0;
    padding:20px;
    background-color:darkorchid;
    color:white;
    font-family:sans-serif;
    text-align:center;
    font-size:27pt;
}

applet{
    border:solid darkorchid thick;
    width:450px;
    height:350px;
}


//div styling
#container{
    width:650px;
}

#sidebar{
    width:150px;
    height:470px;
    background-color:darkorchid;
    float:left;
    z-index:1;
}

#footer{
    clear:both;
    background-color:darkorchid;
    text-align:center;
    color:lightgrey;
    padding:2px;
}



